//- Все примеси в этом файле должны начинаться c имени блока (details)

mixin details()
  - const code = "0x24805237d8e9269ba8a5237d8e9269ba8a";
  - const list = [{caption: "Price", value: {value: "$0.007819", percent: -10.62, isGrowth: false}}, {caption: "Volume 24h", value: {value: "$29,481", percent: 5.95, isGrowth: true}}, {caption: "Max Supply", value: {value: "20,000,000"}}, {caption: "Total Supply", value: {value: "20,000,000"}}];

  .details.gl-block#details-host
    .details__title.gl-title.gl-title--small Thetan Coin
    .details__code-container
      .details__code-wrapper
        .details__code-caption BNB Smart Chain (BEP-20):
        button(type="button", value=code, data-content="Copied").details__copy-btn.js-copy-btn
          .details__copy-btn-text=code

    ul.details__list
      each item in list
        li.details__item
          .details__item-caption= item.caption
          .details__item-value-wrapper
            .details__item-value= item.value.value
              if item.value.percent
                span= ` / `
                span(class= item.value.isGrowth && "details__item-value-percent--growth").details__item-value-percent= `${item.value.percent > 0 ? "+ " : ""}${item.value.percent}%`

    form.details__converter-wrapper
      label
        input(type="text", inputmode="decimal", value="1.0", data-coef=1)#converter-value.details__converter-field
      span.details__converter-unit-wrapper
        .details__converter-unit THC
        img(loading="lazy" src="img/arrows-reverse.svg" alt="image" width="15" height="16").details__icon-reverse
        .details__converter-unit USD
      label
        input(type="text", inputmode="decimal", value="0.007819", data-coef=0.007819)#converter-result.details__converter-field
      span.details__converter-btn Converter
